{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile-header.html %}{% endif %}

  <span class="nav__sub-title">My Pluralsight Courses
    <i class="fa-solid fa-arrow-down fa-shake" style="--fa-animation-iteration-count: 3; --fa-animation-delay: 8s; margin: 1px"></i>
  </span>
  <div class="panel-courses">

    <p class="course-date">
        <i class="fa-fw fa-regular fa-circle-play" aria-hidden="true"></i>
        <a href="https://pluralsight.pxf.io/4PXQn0">Managing Apps on Kubernetes with Istio</a>
        <br />
        <span title="Very Good" style="cursor: default; width: 100px; color: #e9af2d;">
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star fa-2xs"></i>
        </span>
    </p>
    
    <p class="course-date">
      <i class="fa-fw fa-regular fa-circle-play" aria-hidden="true"></i>
        <a href="https://pluralsight.pxf.io/baYA1g">Site Reliability Engineering (SRE): The Big Picture</a>
        <br />
        <span title="Very Good" style="cursor: default; width: 100px; color: #e9af2d;">
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star fa-2xs"></i>
        </span>
    </p>

    <p class="course-date">
      <i class="fa-fw fa-regular fa-circle-play" aria-hidden="true"></i>
        <a href="https://pluralsight.pxf.io/EK7ovW">Getting Started with Prometheus</a>
        <br />
        <span title="Very Good" style="cursor: default; width: 100px; color: #e9af2d;">
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star-half-o"></i>
        </span>
    </p>

    <p class="course-date">
      <i class="fa-fw fa-regular fa-circle-play" aria-hidden="true"></i>
        <a href="https://pluralsight.pxf.io/oqYEZo">Deploying Containerized Applications</a>
        <br />
        <span title="Very Good" style="cursor: default; width: 100px; color: #e9af2d;">
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star-half-o"></i>
        </span>
    </p>

    <p class="course-date">
      <i class="fa-fw fa-regular fa-circle-play" aria-hidden="true"></i>
        <a href="https://pluralsight.pxf.io/DPOAj">Using Declarative Jenkins Pipelines</a>
        <br />
        <span title="Very Good" style="cursor: default; width: 100px; color: #e9af2d;">
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star-half-o"></i>
        </span>
    </p>

    <p class="course-date">
      <i class="fa-fw fa-regular fa-circle-play" aria-hidden="true"></i>
        <a href="https://pluralsight.pxf.io/Py73Nj">IDisposable Best Practices in C#</a>
        <br />
        <span title="Very Good" style="cursor: default; width: 100px; color: #e9af2d;">
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star-half-o"></i>
        </span>
    </p>

    <p class="course-date">
      <i class="fa-fw fa-regular fa-circle-play" aria-hidden="true"></i>
        <a href="https://pluralsight.pxf.io/Y97Q3e">Developing .NET Framework Apps with Docker</a>
        <br />
        <span title="Very Good" style="cursor: default; width: 100px; color: #e9af2d;">
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star-half-o"></i>
        </span>
    </p>

    <p class="course-date">
      <i class="fa-fw fa-regular fa-circle-play" aria-hidden="true"></i>
        <a href="https://pluralsight.pxf.io/xkY4Py">Using and Managing Jenkins Plugins</a>
        <br />
        <span title="Very Good" style="cursor: default; width: 100px; color: #e9af2d;">
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star fa-2xs"></i>
            <i class="fa fa-star-half-o"></i>
        </span>
    </p>

</div>


<span class="nav__sub-title">My Books 
  <i class="fa-solid fa-arrow-down fa-shake" style="--fa-animation-iteration-count: 3; --fa-animation-delay: 15s"></i>
</span>

<p class="course-date">
  <i class="fab fa-fw fa-docker" aria-hidden="true"></i>
  <a href="https://amzn.to/4eiSGKg">Learn Docker in a MoL</a>
  <br />
  <span title="Very Good" style="cursor: default; width: 100px; color: #e9af2d;">
      <i class="fa fa-star fa-2xs"></i>
      <i class="fa fa-star fa-2xs"></i>
      <i class="fa fa-star fa-2xs"></i>
      <i class="fa fa-star fa-2xs"></i>
      <i class="fa fa-star fa-2xs"></i>
  </span>
</p>

<p class="course-date">
  <i class="fa-solid fa-fw fa-dharmachakra" aria-hidden="true"></i>
  <a href="https://amzn.to/3x3O7mt">Learn Kubernetes in a MoL</a>
  <br />
  <span title="Very Good" style="cursor: default; width: 100px; color: #e9af2d;">
      <i class="fa fa-star fa-2xs"></i>
      <i class="fa fa-star fa-2xs"></i>
      <i class="fa fa-star fa-2xs"></i>
      <i class="fa fa-star fa-2xs"></i>
      <i class="fa fa-star fa-2xs"></i>
  </span>
</p>


  {% if page.author_profile or layout.author_profile %}{% include author-profile-links.html %}{% endif %}
  </div>
{% endif %}
